body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='317' height='317' viewBox='0 0 100 100'%3E%3Cg stroke='%23CCC' stroke-width='0' stroke-opacity='0.9'%3E%3Crect fill='%23F5F5F5' x='-60' y='-60' width='116' height='240'/%3E%3C/g%3E%3C/svg%3E"); }

  main {
    flex: 1 0 auto;
  }

  .card {
    width: 100%;
    padding: 0px;
    border-radius: 2px;
    margin: 20px 0 0 0;
  }

  .card-head {
    padding: 10px 10px 20px 20px;
    background-image: linear-gradient(360deg, #29b6f6, transparent);
    backface-visibility: unset;
  }

  .card-body {
    padding: 0px 25px 10px 25px;
  }